.AdminPage form {
  margin: 20px 150px 0;
}

.FormRow label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

#pages,
#pageTitle,
#pageContent {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  color: #555;
}

#pages {
  width: 50%;
}

#pages,
#pageTitle {
  height: 36px;
}

#pageContent {
  resize: none;
  height: 150px;
}

#pageTitle,
#pageContent {
  width: 100%;
  padding: 5px;
}

.SaveButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: steelblue;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
}