.MainNavBlock {
  background-color: steelblue;
  color: #fff;
  padding: 10px 0;
}

.MainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainNavLogo {
  font-size: 36px;
  font-weight: bold;
}